<% layout('../layouts/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2">
        <h2>Add New Shirt 🥳</h2>
<form action="shirts" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Shirt Title</label>
        <input type="text" name="shirt[title]" class="form-control" required>
        <div class="invalid-feedback">Title is required.</div>
    </div>
    <div class="mb-3">
        <label for="dressType">Select Dress Type:</label>
        <select name="shirt[dressType]" id="dressType" class="form-select">    
            <option value="casual" selected>Casual</option>
            <option value="formal">Formal</option>
            <option value="party wear">Party wear</option>
            <option value="ethnic">Ethnic</option>
            <option value="summer">Summer</option>
            <option value="winter">Winter</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file"name="shirt[image]" placeholder="Enter image URL/link" class="form-control " required>
    </div>
    <button class="btn btn-outline-success mt-3">Add Shirt</button>
</form>    
</div>
</div>