<% layout('../layouts/boilerplate') -%>
<h3>What You Bought New?</h3>
<div class="row">
    <div class="col d-flex justify-content-center align-items-center gap-3 mt-3">
        <a href="/addshirt"> <button class="btn btn-outline-success mt-3">Shirt</button></a> <span style="font-size: larger;">OR</span>
        <a href="/addpant"> <button class="btn btn-outline-success mt-3 ">Pant</button></a>
    </div>
</div>