<% layout('../layouts/boilerplate') -%>
<body>
    <h2>Pants</h2> 
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let pant of allpants){ %>
    <div class="card col listing-card mx-4" style="width: 18rem;">
        <img src="<%= pant.image.url %>" class="card-img-top" alt="pant" style="height: 20rem;">
        <div class="card-body">
          <p class="card-text"><%= pant.title %></p>
        </div>
      </div>
    <%}%>
    </div>
</body>

